<div class = "comment clearfix">
    <div class = "comment_content">
        <p class="comment">
            <strong>
               <%= comment.name %> 
            </strong>
        </p>
        <p class = "comment_body">
            <%= comment.body %>
        </p>
        <p class = "comment_title">
            <%= time_ago_in_words(comment.created_at) %> ago
        </p>
    </div>
    <% if user_signed_in? %>
        <div class="buttons">
            <button><%= link_to "delete comment", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></button>
        </div>
    <% end %>
</div>