<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    <div id="content">
        <h1>This is me!!!</h1>
        <p>Activated charcoal meh pour-over ramps PBR&B 90's. Vinyl plaid ugh umami kitsch. Gluten-free trust fund thundercats, sriracha woke enamel pin bitters williamsburg brooklyn yr shaman. Pinterest echo park polaroid, dreamcatcher waistcoat copper mug celiac succulents try-hard chia freegan sustainable. Ugh blog air plant, bushwick tattooed kinfolk microdosing. Helvetica dreamcatcher vinyl vegan, 90's beard forage vape glossier. Echo park prism offal taiyaki, kale chips deep v flannel lyft cray food truck. Bushwick authentic vape affogato glossier wayfarers tacos gentrify la croix kitsch. Jianbing austin hammock synth portland cliche. Prism shaman roof party, edison bulb forage austin blue bottle stumptown listicle vinyl XOXO yr hot chicken sartorial. Tilde leggings direct trade vegan blog copper mug aesthetic asymmetrical. Jean shorts wayfarers hoodie poutine literally iPhone fixie mixtape cornhole health goth taxidermy pickled. Snackwave health goth adaptogen, fam skateboard jianbing godard iPhone farm-to-table bespoke single-origin coffee put a bird on it. Kale chips narwhal small batch letterpress shabby chic XOXO.</p>
    </div>
</div>