<div id ="post_content">
    <h1 class="title">
        <%= @post.title %>
    </h1>
    <p class="date">
        Submitted <%= time_ago_in_words(@post.created_at) %> ago
    </p>
    <% if user_signed_in? %>
        <div class="buttons">
            <button><%= link_to "edit post", edit_post_path(@post) %></button>
            <button><%= link_to "delete post", post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></button>
        </div>
    <% end %>
    <p class="body">
        <%= @post.body %>
    </p>
    
    <div id="comments">
        <h2><%= @post.comments.count %> Comments</h2>
        <%= render @post.comments %>
        <h3>Join Discussion: </h3>
        <%= render "comments/form" %>
    </div>
</div>