<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico.png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li class="category">
          <%= link_to "Tumblr", root_path %>
        </li>
        <li>
          <%= link_to "Posts", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li></li>
      </ul>
      <% if !user_signed_in? %>
        <p class="sign in"><%= link_to "sign in", new_user_session_path %></p>
      <% end %>
    </div>
    
    <div id="main_content">
      <div id="header">
        <% if current_page?(root_path) %>
          <p>Post Feed</p>
        <% elsif current_page?(about_path) %>
          <p>About</p>
        <% else %>
          <button class="button"><%= link_to "back to post feed", root_path %></button>
        <% end %>
        <% if user_signed_in? %>
          <div class="buttons">
            <button class="button"><%= link_to "Make Post", new_post_path %></button>
            <button class="button"><%= link_to "log out", destroy_user_session_path, method: :delete %></button>
          </div>
        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
      
      <%= yield %>
    
    </div>
  </body>
</html>